# Your private key for deployment (without 0x prefix)
PRIVATE_KEY=

# Celo Alfajores RPC URL (example: https://alfajores-forno.celo-testnet.org)
CELO_ALFAJORES_RPC_URL=https://alfajores-forno.celo-testnet.org

# Celoscan API key 
CELO_API_KEY=